html {
	min-height: 100%;
}

a {
	cursor: pointer;
}

body {
	display: flex;
	align-content: stretch;
	justify-content: center;
	flex-direction: row;
	background-color: #161513;
	width: 100vw;
	min-height: 100%;
	margin: 8px 0;
}

h3 {
	text-align: center;
	font-size: 30px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	max-width: 1600px;
	margin: 5%;
}

.card {
	position: relative;
	overflow: hidden;
	height: fit-content;
	flex-basis: 25%;
	background-color: #211f1c;
	border-radius: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 80%);
	/* aspect-ratio: 1/1; */
}

.text-body {
	display: none;
}

.text-body p {
}

.text-body h3 {
	margin: 0px;
}

.show-overlay .text-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	box-sizing: border-box;
	padding: 30px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	backdrop-filter: blur(10px);
	color: #eeedeb;
	font-size: 20px;
	/* line-height: 25px; */
}

.image-button {
	position: relative;
	height: 100%;
}

.card-image {
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
}

.main-image {
	width: 100%;
}

.expand-button {
	position: absolute;
	bottom: 0;
	display: flex;
	align-self: stretch;
	width: 100%;
	justify-content: center;
	text-align: center;
}

button {
	color: #000000;
	font-size: 20px;
	font-weight: 400;
	width: 100%;
	height: 60px;
	border: 0px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	background-color: #f49d37;
	cursor: pointer;
}

.git-icon {
	width: 30px;
	height: 30px;
}

.card-description {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 2560px) {
	.card {
		max-height: 800px;
	}
	.show-overlay {
		max-height: 1400px;
	}
}

@media screen and (max-width: 1170px) {
	.card {
		flex-basis: 40%;
	}
}

@media screen and (max-width: 800px) {
	.card {
		flex-basis: 70%;
	}
}

@media screen and (max-width: 500px) {
	.card {
		flex-basis: 90%;
	}
}
