body {
	background: linear-gradient(#d9ed92, #34a0a4);
}

.card-container {
	display: flex;
	flex-direction: row;
}

.card {
	width: 33vw;
	margin: 2px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	padding: 20px;
	margin: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 40%);
}

img {
	width: 100%;
}
